build/
build-aux/
*__pycache__/

# Debian packaging artifacts
*.deb
*.build
*.buildinfo
*.changes
*.dsc
debian/files
debian/tmp
debian/*.substvars
debian/*.debhelper.log
debian/*/

NEW_VERSION

test/deb/test-pkg/

.flatpak-builder/
