Package: millisecond
Version: 0.1.0-1
Architecture: amd64
Maintainer: Gahel <music@gahel.fr>
Installed-Size: 98
Depends: dconf-gsettings-backend | gsettings-backend, gir1.2-gtk-4.0, python3-gi, gir1.2-adw-1 (>= 1.5), gir1.2-pango-1.0, gir1.2-gdkpixbuf-2.0, adwaita-icon-theme
Section: utils
Priority: optional
Homepage: https://github.com/gaheldev/Millisecond.git
Description: Optimize your system for low latency audio
 Runs checks on the system and provides documentation and fixes to
 improve low latency performance for audio production.
